/* Main Stylesheet for My Portfolio
   Author: Rashad Naghiyev
   Date: 2024-12-05
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #f5f8ff; 
    --text-color: #000000;
    --link-color: #3498db;
    --link-hover-color: #cfcbcb;
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --orange: orange;
    --purple: purple;
    --red: red;
    --card-v1-color: rgb(235, 248, 175);
    --project-item-color: #bec7ce;
    --project-item-hover-color: #e0e4e6;
    --blog-author-color: #d7d9db;
    --font-size: 20px;
    --font-family: 'Arial, sans-serif';
    --spacing-unit: 10px;
    --transition-speed: 0.3s;
    --line-height: 1.6;
}

.dark-mode {
    /* Dark Mode Colors rgb(65, 78, 7); */
    --bg-color: #121212;
    --text-color: #ffffff;
    --link-color: #3498db;
    --card-v1-color: rgb(38, 46, 4);
    --project-item-color: #43474b;
    --project-item-hover-color: #939699;
    --blog-author-color: #1f1f1f;
}

body {
    margin: 5px;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-family);
    line-height: var(--line-height);
    transition: background-color 0.3s color 0.3s;
}

h1, h2, h4, h5, h6 {
    color: var(--text-color);
    margin: var(--spacing-unit) 0;
    font-weight: bold;
    transition: color 0.3s;
}

p {
    color: var(--text-color);
    margin: var(--spacing-unit) 0 ;
    transition: color 0.3s;
}


a {
    font-size: large;
    color: var(--link-color);
    text-decoration: none;
    transition: color var(--transition-speed);
}

a:hover {
    color: var(--link-hover-color);
}

.line {
    height: 1px;
    width: 100%;
    background-color: black;
    margin: var(--spacing-unit) 0;
}

/* Nav Elements color: rgb(30, 167, 177);*/
nav {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    align-items: center;
    gap: var(--spacing-unit);
    margin: 0 0 calc(2 * var(--spacing-unit));
    padding: var(--spacing-unit) 0;
    background-color: rgba(55, 50, 179, 1);
    color: #FFFFFF;
    border-radius: 5px;
}

nav a {
    color:#FFFFFF;
}

.logo-block {
    position: absolute;
    left: var(--spacing-unit); /* Place logo at the far left */
    display: flex;
    align-items: center;
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #044570;
    border-radius: 10px;
    padding: 0 3px;
    transition: transform 0.3s ease, background-color 0.3s ease, font-style 0.3 ease, font-family 0.3 ease;
}

.logo-block a:hover {
    color: var(--text-color);
    transform: scale(1.05);
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--bg-color);
    border-radius: 10px;
    padding: 0 3px;
    
}

.dark-mode-btn {
    position: absolute;
    right: var(--spacing-unit); /* Place logo at the far left */
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
}

.nav-links {
    margin: 0 auto; /* Center the links */
    display: flex;
    gap: var(--spacing-unit);
    align-items: center;
    justify-content: center;
}

/* Banner elements */
.banner-block {
    display: flex;
    gap: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--spacing-unit);
    overflow: hidden;
    height: auto;
    width: 100%;
}

.banner-img {
    max-height: 400px;
    width: 50%;
    object-fit: cover;
    border-radius: 10px;
}

.banner-content {
    display: none;
    position: absolute; /* Overlay positioning */
    color: #fff;
    text-align: center;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: var(--spacing-unit);
    border-radius: 10px;
}

/* Base Card Styles */
.card {
    height: auto;
    width: 100%;
    padding: var(--spacing-unit) var(--spacing-unit);
    background-color: var(--card-v1-color);
    border-radius: 10px;
    gap: var(--spacing-unit);
    transition: background-color 0.3s;
}

/* Blog List Styles */
.blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: baseline;
    padding: var(--spacing-unit) var(--spacing-unit);
    margin: var(--spacing-unit) 0;
    gap: var(--spacing-unit);
}

.blog-list .card {
    width: 30%;
}

.blog-img {
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

.blog-content {
    max-height: 300px;
    overflow: hidden;
}

.page-header {
    display: grid;
    align-items: center;
    text-align: center;
    margin: var(--spacing-unit) 0;
    padding: var(--spacing-unit 0);
    font-weight: bolder;
}

/* Blog detail page styles */
.blog-detail-page {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Blog Content Section */
.blog-detail-container {
    display: flex;
    width: 80%; /* Set width for responsiveness */
    margin: auto;
    gap: var(--spacing-unit); /* Space between the blog and ads */
    justify-content: center;
    align-items: center;
}

.blog-detail {
    flex: 3; /* Blog section takes up 75% of available space */
    padding: var(--spacing-unit);
}

.blog-detail .card {
    width: 100%;
    margin-bottom: var(--spacing-unit);
    border-radius: 10px;
}

.blog-detail .blog-title {
    margin-bottom: var(--spacing-unit);
    font-size: 1.5rem;
    text-align: center;
}

.blog-detail .blog-author {
    display: flex;
    gap: var(--spacing-unit);
    align-items: center;
    margin: var(--spacing-unit);
    padding: 0 var(--spacing-unit);
    background-color: var(--blog-author-color);
    border-radius: 10px;
}

.blog-detail .blog-author .category {
    margin-left: auto;
}

.blog-detail .card .blog-content {
    background-color: var(--card-v1-color);
    padding: var(--spacing-unit);
    border-radius: var(--spacing-unit);
    font-size: 1rem;
}

.blog-detail .blog-image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: var(--spacing-unit);
}

.blog-detail .blog-image img {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: var(--spacing-unit);
    object-fit: contain;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
/* Social media icons styling */
.blog-footer .social-icons {
    display: flex;
    gap: 15px; /* Space between icons */
    justify-content: center; /* Center icons */
    margin-top: var(--spacing-unit);
}

.blog-footer .social-icon {
    font-size: 1.5rem;
    color: #333; /* Icon color */
    text-decoration: none; /* Remove underlines */
    transition: color 0.3s ease;
}

.blog-footer .social-icon:hover {
    color: #0073e6; /* Change color on hover (example: blue) */
}

/* Project List Styles */
.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: var(--spacing-unit) var(--spacing-unit);
    margin: var(--spacing-unit) 0;
    gap: var(--spacing-unit);
}

.project-list .card {
    height: auto;
    max-width: 300px;
    background-color: var(--project-item-color);
    border: 1px solid #333;
    border-radius: 25px;
    overflow: hidden;
    margin: var(--spacing-unit) var(--spacing-unit);
    padding: var(--spacing-unit) var(--spacing-unit);
    gap: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /* Smooth transition */
}

.project-list .card:hover {
    transform: scale(1.05); /* Slightly enlarges the card */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Adds a shadow for a lifted look */
    background-color: var(--project-item-hover-color);
}

.project-list .card:focus {
    outline: 2px solid #333;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project-list .card img {
    width: 100%;
    max-height: 200px;
    min-height: 200px;
    object-fit: cover;
    border-radius: 25px;
    transition: transform 0.3s ease; /* Image-specific animation */
}

.project-list .card:hover img {
    transform: scale(1.1); /* Zoom effect on the image */
}

.project-content {
    margin: var(--spacing-unit);
}

/* Advertisement Section */

/* Top Ads Banner */
.ads-banner-block {
    display: flex;
    gap: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--spacing-unit);
    overflow: hidden;
    height: auto;
    width: 100%;
}

.ads-banner-block .banner-img {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.ads-banner-block a {
    display: inline-block;
    text-decoration: none;
}
/* ------------- */

.ads-container {
    width: 20%;
    margin-bottom: auto;
    margin-top: 10px;
    gap: var(--spacing-unit)
}
.ad-section {
    flex: 1; /* Ad section takes up 25% of available space */
    max-width: 300px;
    padding: var(--spacing-unit);
    background-color: var(--card-v1-color);
    border-radius: var(--spacing-unit);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.ad-section .ad-item {
    margin-bottom: var(--spacing-unit);
   /* 
    padding: var(--spacing-unit);
    background-color: #fff;
    border-radius: 10px; */
    text-align: center;
}

.ad-section .ad-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}



/* Responsive */
@media (max-width: 768px) {
    .logo-block {
        display: none;
    }
    .banner-block {
        max-height: 400px;
    }
    .banner-content {
        font-size: small;
        font-weight: 100;
    }
    .project-list .card, .blog-list .card {
        width: 100%;
    }
    .blog-list, .blog-detail-page, .blog-detail, .project-list {
        flex-direction: column; /* Stack cards vertically */
    }
    .blog-detail-container {
        height: 100%;
        width: 100%;
    }
    .blog-detail {
        width: 95%; /* Adjust container width */
    }
    .blog-detail .blog-title {
        font-size: 1.5rem; /* Adjust title size */
    }
    .blog-detail .blog-author {
        flex-direction: column; /* Stack author details vertically */
        gap: 0;
        margin: 0;
        padding: 0;
    }
    .blog-detail .blog-author p {
        font-size: small;
    }
    .blog-detail .blog-author .category {
        margin-left: 0;
    }
    .blog-detail .blog-content {
        max-height: fit-content;
        overflow: visible;
    }
    .blog-detail .card {
        height: 100%;
        width: 100%;
    }
    .blog-detail .blog-image img {
        max-width: 100%; /* Ensure it scales on smaller devices */
    }
    .ads-container {
        width: auto;
    }
    .ad-section {
        max-width: 100%; /* Take full width */
        margin-top: var(--spacing-unit);
    }
    .ads-banner-block {
        max-height: 400px;
    }
}

@media (max-width: 400px) {
    .logo-block {
        display: none;
    }
    .banner-block {
        max-height: 400px;
    }
    .banner-content {
        font-size: small;
        font-weight: 100;
    }
    .project-list .card, .blog-list .card {
        width: 100%;
    }
    .blog-list, .blog-detail, .project-list {
        flex-direction: column; /* Stack cards vertically */
    }
    .ad-section {
        max-width: 100%; /* Take full width */
        margin-top: var(--spacing-unit);
    }
    .blog-detail {
        width: 95%; /* Adjust container width */
    }
    .blog-detail .blog-title {
        font-size: 1.0rem; /* Adjust title size */
    }

    .blog-detail .blog-author {
        flex-direction: column; /* Stack author details vertically */
        gap: 0;
        margin: 0;
        padding: 0;
    }
    .blog-detail .blog-author p {
        font-size: 0.8rem; /* Adjust title size */
    }
    .blog-detail .blog-content {
        max-height: fit-content;
        overflow: visible;
    }
    .blog-detail .card {
        height: 100%;
        width: 100%;
    }

    .blog-detail .blog-image img {
        max-width: 100%; /* Ensure it scales on smaller devices */
    }
}